/* =========
  global styles
  =========== */

html, body {
  font-family: 'Roboto', sans-serif !important;
  height: 100vh;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

b {
  font-weight: 500;
}

.text-underline {
  text-decoration: underline;
}

/* =========
  background colors
  =========== */

.bg-blue {
  background-color: $background;
}

.bg-gray {
  background-color: $background-gray;
}

.bg-light-gray {
  background-color: $background-light-gray;
}

.bg-gradient {
  background-image: $background-gradient;
}

/* =========
  form styles
  =========== */

.form-group {
  position: relative;
}

.form-input {
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: block;
	color: $text;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #ccc;
	&:focus {
		outline: none;
    border-bottom: none;
    ~ {
			.underline {
				&:before {
					width: 50%;
				}
				&:after {
					width: 50%;
				}
			}
			.highlight {
				animation: inputHighlighter 0.3s ease;
			}
		}
	}
}

.label {
	font-size: 0.75rem;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: -20px;
	transition: all 0.2s ease;
	color: $black;
	font-weight: 500;
	text-transform: uppercase;
}

.checkbox-label {
	font-size: 0.75rem;
	font-weight: 500;
	text-transform: uppercase;
}

.button {
	color: $white;
	width: 6.25rem;
	font-weight: bold;
	text-transform: uppercase;
	background-color: $black;
}

.underline {
	position: relative;
	display: block;
	width: 100%;
	&:before {
		content: '';
		height: 2px;
		width: 0;
		bottom: 1px;
		position: absolute;
		background: $gray-dark;
		transition: all 0.2s ease;
		left: 50%;
	}
	&:after {
		content: '';
		height: 2px;
		width: 0;
		bottom: 1px;
		position: absolute;
		background: $gray-dark;
		transition: all 0.2s ease;
		right: 50%;
	}
}

.highlight {
	position: absolute;
	height: 60%;
	width: 6.25rem;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}

/* =========
  animations
  =========== */
@keyframes inputHighlighter {
  from {
    background: $gray-dark;
  }
  to {
    width: 0;
    background: transparent;
  }
}
