// app-wide variables
$text: #3c3e40;
$gray-dark: #4F5457;
$gray: #6B787E;
$gray-light: #889094;
$gray-xlight: #A8B0B4;
$gray-xxlight: #e9e9e9;

$background: #1A1B35;
$background-gray: #D6D8E7;
$background-light-gray: #EEEEEE;
$background-gradient: linear-gradient(132deg, #62419a 0%, #3e76eb 100%);

$white: #FFFFFF;
$black: #000000;

$coral: #F19B7B;
$red: #C97064;

$radius-m: 13px;
$radius-l: 20px;